REBAR3_PATH="$(direnv_layout_dir)/bin"
mkdir -p "$REBAR3_PATH"

if [[ ! -x "$REBAR3_PATH/rebar3" ]]; then
	curl -s https://s3.amazonaws.com/rebar3/rebar3 -o "$REBAR3_PATH/rebar3"
	chmod +x "$REBAR3_PATH/rebar3"
fi

PATH_add "$REBAR3_PATH"

REBAR_CACHE_DIR="$(direnv_layout_dir)/rebar_cache"
export REBAR_CACHE_DIR

mkdir -p "$REBAR_CACHE_DIR"
