[{elvis, [{config, [
                    #{
                     dirs => ["apps/*/src", "apps/*/test"],
                     filter => "*.erl",
                     ignore => [],
                     rules => [
                               {elvis_style, variable_naming_convention, #{regex => "^(_?[_A-Z][0-9a-zA-Z]*)$"}},
                               {elvis_style, line_length, #{limit => 78}}
                              ],
                     ruleset => erl_files
                    },
                    #{
                     dirs => [".", "apps/*"],
                     filter => "rebar.config",
                     ruleset => rebar_config
                    },
                    #{
                     dirs => ["."],
                     filter => "elvis.config",
                     ruleset => elvis_config
                    }
                   ]}]}].
