{erl_opts, [debug_info]}.
{deps, []}.

{shell,
 [
% {config, "config/sys.config"},
  {apps, [minikube]}
 ]
}.

{plugins, [coveralls, rebar3_elvis_plugin, rebar3_hex]}.

{alias, [{precommit, [xref, dialyzer, elvis, {clean, "-a"}, compile, eunit, edoc, {clean, "-a"}]}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "travis-ci"}.
