{erl_opts, [debug_info]}.
{deps, []}.

{shell,
 [
% {config, "config/sys.config"},
  {apps, [minikube]}
 ]
}.

{cover_enabled, true}.

{plugins, [rebar3_elvis_plugin, rebar3_hex]}.

{alias,
 [
  {check, [xref, dialyzer, elvis, {clean, "-a"}, compile, eunit, ct, edoc, {clean, "-a"}]},
  {precommit, [xref, dialyzer, elvis, {clean, "-a"}, compile, eunit, edoc, {clean, "-a"}]}
 ]
}.
